body {
    font-family: Arial;
    text-align: center;
}

h1 {
    font-size: 25px;
}

h2 {
    margin-bottom: 5px;
}

p {
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: 20px auto;
}

th {
    border: 1px solid black;
    padding: 8px;
    background-color: lightgray;
}

td {
    border: 1px solid black;
    padding: 8px;
}

tr {
    height: 45px;
}